---
http_interactions:
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/visual-recognition/api/v3/classify?apikey=ALCHEMY_KEY&url=http://blog.caranddriver.com/wp-content/uploads/2017/01/2017-EC-Small-Cars-Honda-Civic-hatchback.jpg&version=2016-05-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "custom_classes": 0,
            "images": [
                {
                    "classifiers": [
                        {
                            "classes": [
                                {
                                    "class": "bumper (of vehicle)",
                                    "score": 0.727,
                                    "type_hierarchy": "/device/bumper (of vehicle)"
                                },
                                {
                                    "class": "device",
                                    "score": 0.727
                                },
                                {
                                    "class": "subcompact car",
                                    "score": 0.704,
                                    "type_hierarchy": "/vehicle/subcompact car"
                              [...]
