---
http_interactions:
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/visual-recognition/api/v3/recognize_text?apikey=ALCHEMY_KEY&url=https://www.scenicwonders.com/wp-content/uploads/2011/03/Yosemite-National-Park-sign-by-Acradenia.jpg&version=2016-05-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "images": [
                {
                    "resolved_url": "https://www.scenicwonders.com/wp-content/uploads/2011/03/Yosemite-National-Park-sign-by-Acradenia.jpg",
                    "source_url": "https://www.scenicwonders.com/wp-content/uploads/2011/03/Yosemite-National-Park-sign-by-Acradenia.jpg",
                    "text": "[yosemite]\nnational\npark",
                    "words": [
                        {
                            "line_number": 0,
                            "location": {
                                "height": 60,
                                "left": 607,
                                "top": 289,
                                "width": 224
                            },
                            "score": 0.4564,
                            "word": "yosemite"
                        },
                        {
                            "line_number": 1,
                            "location": {
                                "height": 41,
                                "left": 606,
                                "top": 362,
                                "width": 224
                            },
                            "score": 0.9564,
                            "word": "national"
                        },
                        {
                            "line_number": 2,
                            "location": {
                                "height": 39,
                                "left": 661,
                                "top": 431,
                                "width": 117
                            },
                            "score": 0.964,
                            "word": "park"
                        }
                    ]
                }
            ],
            "images_processed": 1
        }
  recorded_at: Wed, 07 Jun 2017 12:34:18 GMT
recorded_with: VCR 2.9.3
